# Ignore build artifacts
/target

# Ignore git history
.git
.gitignore

# Ignore IDE-specific files
.idea

# Ignore environment files - these should be provided at runtime
.env

# Ignore Docker-specific files
Dockerfile
.dockerignore
